<div class="bookInfo">
  <div class="intro-body">
    <div class="container">
      <h2>{{bookData.title}}</h2>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img src={{bookData.imageLinks.thumbnail}} class="img-thumbnail" alt="Book Cover">
          </a>
        </div>
        <div class="media-body">
          <br>
          <br>
          <h5>Author: {{bookData.authors[0]}}</h5>
          <h5> {{bookData.publishedDate}}</h5>
          {{bookItinerary}}
        </div>
      </div>

    </div>
  </div>
</div>

<div class="greyBG">
  <br>
  <br>
  <div class="container">
    <h2>Itinerary</h2>
  <div class="map-canvas">
    <map ng-transclude class='google-map' center="map.center" zoom="map.zoom"> </map>
  </div>
</div>
</div>
